* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'CaveatBrush';
    src: url('./fonts/CaveatBrush-Regular.ttf') format('truetype');
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
/* * {
    scrollbar-width: auto;
    scrollbar-color: #bf0000 #ffffff;
} */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: #F4DC00;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffab00;
    border-radius: 10px;
    border: 2px solid #F4DC00;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #bf0000;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: URL('./img/5_background/first_half_background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    height: 100vh;
    font-family: CaveatBrush, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 80px;
    letter-spacing: 3px;
    text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.5);
}

canvas {
    background: black;
    display: block;
}

button {
    cursor: pointer;
}

.start-button {
    margin-top: 15px;
    height: 70px;
    position: relative;
    font-family: CaveatBrush, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 29px;
    letter-spacing: 3px;
    text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.5);
    color: #bf0000;
    background-color: #F4DC00;
    padding: 10px;
    border: solid #ffab00 5px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 30px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    align-items: center;
}

.start-button:hover {
    background-color: #ffab00;
    color: black;
    border-color: #F4DC00;
    cursor: pointer;
}

.btn-nav {
    fill: #bf0000;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    background-color: rgba(255, 171, 0, 0.5);
    border-radius: 15px;
    border-color: #bf0000;
}

.btn-control {
    fill: #bf0000;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    background-color: rgba(255, 171, 0, 0.5);
    border-radius: 15px;
    border-color: #bf0000;
}

.btn-nav img {
    width: 52px;
    height: 62px;
}

.btn-border {
    border: thin solid #bf0000;
}

.btn-explain {
    font-size: 18px;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.align-center {
    align-items: center;
}

.blur {
    backdrop-filter: blur(10px);
}

.p-left {
    padding-left: 8px;
}

.portrait {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-screen {
    justify-content: center;
}

.start-screen img {
    height: 100svh;
    max-height: 480px;
    aspect-ratio: 1.5;
}

.start-screen button {
    position: absolute;
}

.game {
    position: relative;
}

.overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
}

.panel {
    display: flex;
    width: 100%;
}

.panel-mobile {
    width: 100%;
}

.game_result {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 32px;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.game_result h1 {
    font-size: 120px;
    color: #ffab00;
    text-shadow: 2px 5px 2px rgba(191, 0, 0);
}

.game_result_lost {
    background-image: url('./img/9_intro_outro_screens/game_over/game over.png');
    background-size: cover;
    background-position: 50% 50%;

}

.game_result_win {
    background-color: rgba(0, 0, 0, 0.3);
}

.info_screen {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-image: url('./img/5_background/second_half_background.png');
    background-size: cover;
    background-position: 50% 50%;
    backdrop-filter: blur(10px);
}

.info_screen span {
    font-size: 36px;
}

.info-screen-scroll {
    overflow: auto;
}

@media screen and (orientation: portrait) {
    .portrait {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: black;
        width: 100%;
        gap: 16px;
    }

    .portrait svg {
        width: 80px;
        height: 80px;
        fill: white;
    }

    .main {
        display: none;
    }
}

@media only screen and (max-width: 1023px) {

    #btnFullScreen {
        display: none;
    }
}

@media only screen and (max-width: 720px) {

    canvas {
        width: 100%;
    }

    .start-screen img {
        width: 100%;
    }

    #btnFullScreen {
        display: none;
    }
}

@media only screen and (max-height: 480px) {

    canvas {
        height: 100svh;
    }
}